<h1><img src="./book.jpg" height="30px" width="30px"/><strong>Articles.com!!</strong></h1>
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
<div class="container">
<form ng-submit="register.regUser(regData);" action='/login' >
  <input class="form-control" type ="text" placeholder="username" name="login" required ng-model="register.regData.username">
  <input class="form-control" type="text" placeholder="password" name="password" required ng-model="register.regData.password">
  <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <form class="btn btn-default" action="/register" required>
  <button class="btn btn-primary" type="submit" >Register</button>
  </form>
  </div>

<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 style="font-family:Lobster" class="r-text">Trending News</h3>
          <hr>

          <!--<div app-servers></div>-->
          <!--<div class="app-servers"></div>-->
        </div>

      </div>
      <div class="panel-body">

      <h4> UFC 220 was mirocic's playground</h4>
      <img height="80px" width="80px" src='./ufc220wasmirocicsplayground.jpg'/>

      <p>Mirocic and Ngannou both shared their fair share of success going into UFC220.One stat that shows that is the fact that both had stoppage victories, at least going into the night.</p>
      <p><a href='/ufc'>Read More</a></p>
      <h4>The tech industry is changing its stripes.</h4>
      <img height="80px" width="80px" src='./zapier.jpg'>
      <p>The tech industry has always been a booming since the internet, but the industry seems to be changing right before everyone’s eyes.Zapier is the company pulling strings leaving everyone by surprise.</p>
      <p><a href="/zapier">Read More</a></p>
      <h4>London [U.K.], Mar. 18 : A man has been shot dead after allegedly attempting to seize a gun from a soldier at Paris Orly airport.</h4>
      <img height="80px" width="80px" src='./london[uk].jpg'/><p>
          Terrorism has always been a hot topic,but it appears that stove has gotten even hotter when news surfaced out of the London that a man was shot dead after attempting to get a gun away from a soilder at the Paris Orly airport.
      </p>
      <p><a href="/london">Read More</a></p>
      <h4>The Good News coming out of Trump-Merkel.</h4>
      <img height="80px" width="80px" src="./goodnews.jpg"/><p>
         Friday is going into the first meeting between German Chancellor Merkel and President trump the hot topic was trade and border policy.There was plenty distractions to go around the meeting Fox news took several shots at Former President involvement with current president Donald Trump and wire gate.
      </p>
      <p><a href="/goodnews">Read More</a></p>
      <h4>Trump has deja vu in Hawaii</h4>

      <img height="80px" width="80px" src="./dejavu.jpg"/><p>
          Trump's attempt at a travel ban has one more road block to climb, but this little pebble turned into a mountain.A federal judge who blocked President Trump.Two particular sections were blocked 2 and 6.Section 2 and six are made of the travel, and refugee portions of the order.
       </p>
       <p><a href="/dejavu">Read More</a></p>
       <h4>Rep.Sessions get's his revenge</h4>
       <img height="80px" width="80px" src="./ressessions.jpg"/><p>
        Long before we were talking about Jeff Session’s obsession with White House policy,there was Donald Trump and his comment towards the U.S. attorney.Trump wanted the former President Obama U.S. attorney to stay on board for an undisclosed amount of time.When a new president gets sworn in,customarily he brings new U.S.attorneys with him,but Trump opinion begin to change</p>
       <p><a href="/sessions">Read More</a></p>
       </div>

      